<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="index.css"/>
  </head>
  <body>
    <h1>Kai Velasco - Project Portfolio</h1>
    <h2>About Me:</h2>
    <p1>Hello! My name is Kai Velasco and I attend the University of California, San Diego as a first year Mathematics - Computer Science major at Warren College. I aspire to gain experience in full stack software development, cyber security, and machine learning applications. 
    </p1>
    <script src="script.js"></script>
  </body>
</html>